<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115448094-3"></script>
<script>
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag('js', new Date())

  gtag('config', 'UA-115448094-3')
</script>

<title>Краснодарский транспорт в прямом эфире</title>

<meta http-equiv="Content-Type" content="text/html;  charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="Макс Алёхин" />
<meta name="keywords" content="краснодарский транспорт, краснодар" />
<meta name="description" content="Отслеживание движения транспорта по GPS/ГЛОНАСС" />
<meta name="application-name" content="Транспорт" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="theme-color" content="#ffffff" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="#ffffff" />
<meta name="apple-mobile-web-app-title" content="Транспорт" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="application-name" content="Транспорт" />
<meta name="msapplication-starturl" content="https://transport.stranno.su" />

<meta property="og:locale" content="ru_RU" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://transport.stranno.su" />
<meta property="og:site_name" content="Краснодарский транспорт в прямом эфире" />
<meta property="og:title" content="Краснодарский транспорт в прямом эфире" />
<meta property="og:description" content="Отслеживание движения транспорта по GPS/ГЛОНАСС" />

<link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png" />
<link rel="manifest" href="img/favicons/site.webmanifest" />
<link rel="mask-icon" href="img/favicons/safari-pinned-tab.svg" color="#000000" />
<link rel="shortcut icon" href="img/favicons/favicon.ico" />

<link rel="stylesheet" href="libs/leaflet.css" type="text/css" />
<link rel="stylesheet" href="styles/style.min.css" type="text/css" />

<script src="libs/leaflet.js"></script>
<script src="scripts/main.min.js"></script>

<script>
  // if ('serviceWorker' in navigator) {
  //   window.addEventListener('load', () => {
  //     navigator.serviceWorker.register('/serviceWorkerForTransport.js')
  //   })
  // }
</script>
